@font-face {
  font-family: PressStart2P;
  src:
    local("Roboto-Flex-Variable"),
    url("./PressStart2P-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Inter-Variable;
  src:
    local("Roboto-Flex-Variable"),
    url("./Inter-Variable.woff2") format("woff2-variations"),
    url("./Inter-Variable.woff2") format("woff2 supports variations");
  font-display: swap;
  font-weight: 400 700 785;
}
